#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 400
#define MOUSE 4
#define SCROLL 5
#define NUM 6

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42 7>;
            hold-trigger-on-release;
        };

        encoder_mouse: encoder_mouse {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENCODER_MOUSE";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };

        encoder_mouse_var: encoder_mouse_var {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENCODER_MOUSE_VAR";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mod-DH {
            bindings = <
&kp Q         &kp W              &kp F              &kp P            &kp B                                       &kp J      &kp L             &kp U             &kp Y               &kp SEMICOLON
&hml LCTRL A  &hml LEFT_SHIFT R  &hml LEFT_ALT S    &hml LEFT_WIN T  &kp G    &mkp MCLK       &kp DOUBLE_QUOTES  &kp M      &hmr RIGHT_WIN N  &hmr RIGHT_ALT E  &hmr RIGHT_SHIFT I  &hmr RCTRL O
&kp Z         &kp X              &kp C              &kp D            &kp V    &kp DELETE      &kp BACKSPACE      &kp K      &kp H             &kp COMMA         &kp DOT             &kp SLASH
&kp ESCAPE    &kp LEFT_BRACKET   &kp RIGHT_BRACKET  &to 1            &kp TAB  &to 2           &kp ENTER          &kp SPACE                                                          &kp BACKSLASH
            >;

            sensor-bindings = <&encoder_mouse_var SCRL_DOWN SCRL_UP>;
        };

        Numbers {
            bindings = <
&kp F1         &kp F2              &kp F3            &kp F4            &kp F5                                &kp F8     &kp F9             &kp F10            &kp F11              &kp F12
&hml LCTRL N1  &hml LEFT_SHIFT N2  &hml LEFT_ALT N3  &hml LEFT_WIN N4  &kp N5  &mkp MCLK      &kp F7         &kp N6     &hmr RIGHT_GUI N7  &hmr RIGHT_ALT N8  &hmr RIGHT_SHIFT N9  &hmr RCTRL N0
&kp GRAVE      &trans              &trans            &trans            &trans  &kp F6         &kp BACKSPACE  &kp MINUS  &kp EQUAL          &kp COMMA          &kp DOT              &kp SLASH
&to 0          &trans              &trans            &to 0             &trans  &to 2          &trans         &trans                                                                &kp BACKSLASH
            >;

            sensor-bindings = <&encoder_mouse_var SCRL_DOWN SCRL_UP>;
        };

        Navigation {
            bindings = <
&trans      &kp HOME  &kp UP        &kp END    &kp PG_UP                         &trans  &trans     &trans         &trans           &trans
&kp LCTRL   &kp LEFT  &kp DOWN      &kp RIGHT  &kp PG_DN  &mkp MCLK      &trans  &trans  &mkp LCLK  &mkp RCLK      &kp RIGHT_SHIFT  &kp RCTRL
&kp LSHIFT  &trans    &kp LEFT_ALT  &kp LGUI   &trans     &trans         &trans  &trans  &kp RGUI   &kp RIGHT_ALT  &trans           &trans
&to 0       &trans    &trans        &to 1      &trans     &to 0          &trans  &trans                                             &trans
            >;

            sensor-bindings = <&encoder_mouse_var SCRL_DOWN SCRL_UP>;
        };

        Rus {
            bindings = <
&kp Q    &kp W   &kp E   &kp R   &kp T                       &kp Y   &kp U  &kp I      &kp O    &kp P
&kp A    &kp S   &kp D   &kp F   &kp G   &trans      &trans  &kp H   &kp J  &kp K      &kp L    &kp SEMI
&kp Z    &kp X   &kp C   &kp V   &kp B   &trans      &trans  &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH
&kp ESC  &trans  &trans  &trans  &trans  &trans      &trans  &trans                             &trans
            >;

            sensor-bindings = <&encoder_mouse_var SCRL_DOWN SCRL_UP>;
        };
    };
};
