#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 15 22 23 24 25 26 27 34 35 36 37 38 39>;
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <5 6 8 9 16 17 18 19 20 21 28 29 30 31 32 33 40 41 42>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp Q         &kp W              &kp F            &kp P            &kp B                       &kp J      &kp L             &kp U             &kp Y               &kp SEMICOLON
&hml A LCTRL  &hml R LEFT_SHIFT  &hml S LEFT_ALT  &hml T LEFT_WIN  &kp G   &trans      &trans  &kp M      &hmr N RIGHT_WIN  &hmr E RIGHT_ALT  &hmr I RIGHT_SHIFT  &hmr O RCTRL
&kp Z         &kp X              &kp C            &kp D            &kp V   &trans      &trans  &kp K      &kp H             &kp COMMA         &kp DOT             &kp SLASH
&kp ESCAPE    &trans             &trans           &trans           &trans  &trans      &trans  &kp SPACE                                                          &trans
            >;
        };
    };
};
