#include "roBa.dtsi"

/ {
    # mock_kscan: mock_kscan_0 {
    kscan0: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

#&kscan0 {
#        col-gpios = ;
#};

#&roba_physical_layout {
#    kscan = <&mock_kscan>;
#};